
*{
    
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
}
h1{
    font-size: 50px;
    
}
.orange-color{
    color: orange;
    animation: ease 2s name infinite alternate;
    

}
@keyframes name {
    10%{
  padding-top: 30px ;
        
    }
    50%{
        padding: 0;

    }
    100%{
     padding-bottom: 30px;
    }

}
.background{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.none{
    text-decoration: none;
    font-size: large;
    border: 2px solid rgb(224, 141, 45);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white ;
    background-color: tomato;
    border-radius: 5px ;
    /* border-radius: 10%; */
    margin: 0 20px 0 10px;

}
.none:hover{
    color: rgb(44, 5, 5);
    font-size: 30px;
}
.background{
     background-repeat: no-repeat;     background-image: url(images/top-banner.png);

}
 
#another{
    display: flex;
    margin-top: 150px;
    /* background-image: url(images/dream-bg.png); */
    background-repeat: no-repeat;
    background-position: right;


}
.half-none{
    background: blanchedalmond;
    width: 40%;
    margin-left: 4%;
    margin-right: 2%;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 6%;
    margin-bottom: 30px;
    text-align: justify;
    /* border-left: 10px solid ; */
    animation: 5s ease rahim infinite alternate;
}
.experiance-area{
       /* background-image: url(images/exp-bg.png); */
       background-repeat: no-repeat;
       background-position: right;
}
@keyframes rahim{
  10%{
        border-left:  8px solid rgba(180, 115, 155, 0.541);
        box-shadow: 4px 4px 25px gray;

    }
    25%{
        border-left: 10px solid rgb(255, 153, 153);

    }
    50%{
        border-left:14px solid rgb(28, 34, 129);
        box-shadow: 6px 6px 30px solid green;
    }
    75%{
        border-left:  17px solid rgb(150, 20, 150);
        box-shadow: 7px 7px 35px solid rgb(48, 193, 230);
    }
    100%{
        border-left: 20px solid red;
        box-shadow: 10px 10px 40px solid rgba(235, 71, 21, 0.507);
    }
}
